<!-- Header -->
  <header id="header" class="header">
    <div class="header-top bg-white-f1 sm-text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="widget no-border m-5">
              
            </div>
          </div>
          <div class="col-md-5">
            <div class="widget no-border m-0">
              <ul class="list-inline pull-right flip sm-pull-none sm-text-center mt-5">
                <li> <i class="fa fa-phone text-theme-colored"></i> Ligue-nos <a href="tel:01532348279">(15) 3234 8279</a> </li>
                <li> <i class="fa fa-envelope-o text-theme-colored"></i> <a href="mailto:contato@familiaexcel.com.br">contato@familiaexcel.com.br</a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-nav">
      <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
        <div class="container">
          <nav id="menuzord-right" class="menuzord blue no-bg">
              <a class="menuzord-brand pull-left flip xs-pull-center mb-15" href="index-mp-layout1.html">
                  <img src="images/logo-wide.png" alt="">
              </a>
            <ul class="menuzord-menu">
                  <li class="active">
                      <a href="#home">Home</a>
                  </li>
                  <li>
                      <a href="quem-somos.html">Empresas</a>
                  </li>
                    <li>
                      <a href="planos.html">Planos</a>
                  </li>
                    <li>
                      <a href="convenios.html">Convênios</a>
                  </li>
                    <li>
                      <a href="infor.html">Informativos</a>
                  </li>
                    <li>
                      <a href="obitos.html">Obituarios</a>
                  </li>
                    <li>
                      <a href="faq.html">Duvidas Frequentes</a>
                  </li>
                    <li>
                      <a href="contato.html">Contato</a>
                  </li>
                    <li>
                      <a href="localizacao.html">Localização</a>
                  </li>
                </ul>
            </nav>
            </div>
        </div>
        </div>
  </header>