<!-- Footer -->
  <footer id="footer" class="footer bg-black-222">
    <div class="container pt-70 pb-40">
      <div class="row border-bottom-black">
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <img class="mt-10 mb-20" alt="" src="images/logo-wide-white.png">
            <p>Comendador Hermelino Matarazzo - 421 | Além Linha - Sorocaba / SP</p>
            <ul class="mt-5">
              <li class="m-0 pl-0 pr-10"> 
                  <i class="fa fa-phone text-theme-colored mr-5"></i> 
                  <a class="text-gray" href="tel:15 3234 8279">(15) 3234 8279</a> 
                </li>
                <li class="m-0 pl-0 pr-10"> 
                  <i class="fa fa-phone text-theme-colored mr-5"></i> 
                  <a class="text-gray" href="tel:15 3234 8279">(15) 3211 1564</a> 
                </li>
              <li class="m-0 pl-0 pr-10"> 
                  <i class="fa fa-envelope-o text-theme-colored mr-5"></i> 
                  <a class="text-gray" href="mailto:contato@familiaexcel.com.br">contato@familiaexcel.com.br</a> 
                </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">Menu</h5>
            <ul class="list angle-double-right list-border">
                <li>
                      <a href="#home">Home</a>
                  </li>
                  <li>
                      <a href="quem-somos.html">Empresas</a>
                  </li>
                    <li>
                      <a href="planos.html">Planos</a>
                  </li>
                    <li>
                      <a href="convenios.html">Convênios</a>
                  </li>
                    <li>
                      <a href="infor.html">Informativos</a>
                  </li>
                    <li>
                      <a href="obitos.html">Obituarios</a>
                  </li>
                    <li>
                      <a href="faq.html">Duvidas Frequentes</a>
                  </li>
                    <li>
                      <a href="contato.html">Contato</a>
                  </li>
            </ul>
          </div>
        </div> 
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
            <h5 class="widget-title line-bottom">Horario de Funcionamento</h5>
            <div class="opening-hours">
              <ul class="list-border">
                <li class="clearfix"> <span> Seg - Sex :  </span>
                  <div class="value pull-right flip"> 8.00 - 18.00</div>
                </li>
                <li class="clearfix text-white"> <span> Sab :</span>
                  <div class="value pull-right flip"> 8.00 - 15.00 </div>
                </li>
                <li class="clearfix"> <span> Domingos: </span>
                  <div class="value pull-right flip"> Fechado </div>
                </li> 
                  <li class="clearfix text-white"> <span> Assistencial :</span>
                  <div class="value pull-right flip"> 24 Horas </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="widget dark">
              
            <h5 class="widget-title line-bottom">Facebook</h5>
            <div class="fb-page" data-href="https://www.facebook.com/excelplanosassistenciasoficial/" data-tabs="like" data-width="262" data-height="275" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/excelplanosassistenciasoficial/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/excelplanosassistenciasoficial/">Excel  Planos Assistenciais</a></blockquote></div>
              
              <div id="fb-root"></div>
                <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.6&appId=590871694411243";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
              
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom bg-black-333">
      <div class="container pt-20 pb-20">
        <div class="row">
          <div class="col-md-6 sm-text-center">
            <p class="font-13 text-black-777 m-0">Copyright &copy; Excel 2016 - Produzido por <a href="http://robots.com.br/" target="_blank">Robots Tecnologia</a></p>
          </div>
          <div class="col-md-6 text-right flip sm-text-center">
            <div class="widget no-border m-0">
              <ul class="styled-icons icon-dark icon-circled icon-sm">
                <li><a href="https://pt-br.facebook.com/excelplanosassistenciasoficial" target="_blank"><i class="fa fa-facebook"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>